[Unit]
Description=simple python script

[Service]
WorkingDirectory=/home/ubuntu/dev/cloud/server
ExecStart=/home/ubuntu/dev/cloud/bin/python server.py
Restart=always

[Install]
WantedBy=multi-user.target
